<h4>Internal server error</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <p class="font-weight-bold">Note: If you are seeing this, Angular is probably not to blame</p>
  <p>What to do next?</p>
  <ol>
    <li>Open browser dev tools</li>
    <li>Inspect Network Tab</li>
    <li>Check failing request</li>
    <li>Examine request URL</li>
    <li>Reproduce in postman</li>
  </ol>
  <p>Stack Trace:</p>
  <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>
