<div class="form-group">
  <input
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type={{type}}
    class="form-control"
    [formControl]="$any(ngControl.control)"
    placeholder={{label}}>
  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please enter a {{label}}</div>
  <div *ngIf="ngControl.control.errors?.minlength || ngControl.control.errors?.maxlength"class="invalid-feedback">
    {{label}} must be between {{ngControl.control.errors.minlength['requiredLength']}} and {{ngControl.control.errors.maxlength['requiredLength']}} characters
  </div>
  <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
    Passwords must match.
  </div>
</div>
